<div>

    <h4>over200</h4>
    <div id="over200"></div>

    <h4>from 10 to 200</h4>
    <div id="from10to200"></div>

    <h4>from 2 to 10</h4>
    <div id="from2to10"></div>

</div>
<script>
    async function getJSON(url) {
        let response = await fetch("http://cors-anywhere.herokuapp.com/" + url);
        if (response.ok) {
            let json = await response.json();
            return json;
        }
        else throw new Error(`${response.status}: ${response.statusText}`);
    }

    async function getTickers(companySize) {
        const json = await getJSON(`https://www.tipranks.com/api/Screener/GetStocks/?break=${Date.now()}&marketCap=${companySize}&sortBy=3`);


        return json.data.map(elm => {
            try {
                return {
                    ticker: elm.ticker,
                    company: elm.lastReportedEps.company,
                    priceTarget: elm.priceTarget
                }
            }
            catch{
                return {
                    ticker: elm.ticker,
                    company: 'Нет данных',
                    priceTarget: elm.priceTarget
                }
            }
        })
    }

    async function getDetails(tickers) {
        const json = await getJSON(`https://www.tipranks.com/api/stockInfo/getDetails/?name=${tickers.map(elm => elm.ticker).toString()}&break=${Date.now()}`);

        const priceList = json.map(elm => elm.price)

        for (let i = 0; i < 20; i++) {
            tickers[i]['price'] = priceList[i]
            tickers[i]['percentTargetUprice'] = Math.round((tickers[i].priceTarget / priceList[i] - 1) * 10000) / 100
        }
        return tickers
    }

    async function getData(size) {
        return await getTickers(size).then(getDetails)
    }

    async function renderData(id, size) {
        let table = document.getElementById(id);
        let ul = document.createElement('ul');
        let data = await getData(size);
        data.forEach(element => {
            ul.innerHTML += `<li>Тикер: ${element.ticker} <br> Компания: ${element.company}<br> Стоимость: ${element.price}<br> Ожидаемый прирост: ${element.percentTargetUprice}%<br>  Ожидаемая стоимость: ${element.priceTarget}<br></li>`
        });
        table.append(ul)
    }

    console.log(getData('mega'));
    console.log(getData('large'));
    console.log(getData('medium'));

    renderData('over200', 'mega');
    renderData('from10to200', 'large');
    renderData('from2to10', 'medium');

</script>